<div class="container-fluid">
    <div class="container target">
        <div class="page-header">
            <h1>Training <small> - user account</small></h1>
        </div>
        <div class="row">
            <div class="col-sm-10">
                {{#projects}}
                    {{>user_project}}
                {{/projects}}
            </div>
            <div class="col-sm-2"><a href="#" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="userdata/images/no_pic_user_male.jpg"></a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3">
                <ul class="list-group">
                    <li class="list-group-item text-muted" contenteditable="false">Allgemein</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Kürzel</strong></span> {{short}}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Position</strong></span> {{uasdjgdsjfk}}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Team </strong></span> ###TeamName#</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Angestellt seit</strong></span> ##Datum##</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Geburtstag</strong></span> ##Datum##</li>
                </ul>
                <div class="panel panel-default">
                    <div class="panel-heading">Zuletzt Online <i class="fa fa-signal fa-1x"></i>

                    </div>
                    <div class="panel-body"><a href="#" class="">##Datum##</a>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Social Media</div>
                    <div class="panel-body">
                        <i class="fa fa-facebook fa-2x"></i>
                        <i class="fa fa-github fa-2x"></i>
                        <i class="fa fa-twitter fa-2x"></i>
                        <i class="fa fa-pinterest fa-2x"></i>
                        <i class="fa fa-google-plus fa-2x"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-9" style="" contenteditable="false">
                <div class="panel panel-default">
                    <div class="panel-heading">##FirstName##'s Bio</div>
                    <div class="panel-body">
                        Hier könnte dann eine Biographie stehen, insofern man dies will und pflegt und Bock hat und und und... Braucht man eigentlich auch nicht.. Aber content ist content!
                    </div>
                </div>
                <div class="panel panel-default target">
                    <div class="panel-heading" contenteditable="false">Kreative Überschrift</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img alt="300x200" src="#">
                                    <div class="caption">
                                        <h3>
                                            Erster Eintrag
                                        </h3>
                                        <p>
                                            Impossanter Eintrag mit viel Liebe und Herzblut in Kreativität und Formulierung! Schön wär`s..
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img alt="300x200" src="#">
                                    <div class="caption">
                                        <h3>
                                            Zweiter Eintrag
                                        </h3>
                                        <p>
                                            Impossanter Eintrag mit viel Liebe und Herzblut in Kreativität und Formulierung! Schön wär`s..
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img alt="300x200" src="#">
                                    <div class="caption">
                                        <h3>
                                            Dritter Eintrag
                                        </h3>
                                        <p>
                                            Impossanter Eintrag mit viel Liebe und Herzblut in Kreativität und Formulierung! Schön wär`s..
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Überschrift von irgendwas...
                    </div>
                    <div class="panel-body">
                        Ein langer Inhalt von irgendwas...
                        Ein langer Inhalt von irgendwas...
                        Ein langer Inhalt von irgendwas...
                        Ein langer Inhalt von irgendwas...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>